$white-color: #fff;
$height100: 100%;

ion-grid {
  width: 100%;
  height: $height100;
  background: #dfdfdf;
}

ion-row {
  height: $height100;
}

ion-col {
  border: 1px solid #488aff;
  background: $white-color;
}

ion-button {
  font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
  ion-grid {
    background: $white-color;
  }
  ion-col {
    border: none;
  }
}

img {
  width: 50%;
}

.login {
  color: #488aff;
}

.form-icon {
  margin-right: 10px;
}

.form-error {
  color: #f04141;
  margin-top: 5px;
  font-size: 0.95em;
}
